* {
    box-sizing: border-box;
}
  
@font-face {
    font-family: myFirstFont;
    src: url("LEMONMILK-Medium.otf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #262626;
  font-family: myFirstFont;
}
.page-header {
  display: flex;
}
.space1 {
  flex: 0 0 30%;
}

.logo{
  flex: 0 0 40%;
  width: 38%;
  height:34%;
}

.space2 {
  flex: 0 0 11.75%;
}
.socials {
  flex: 0 0 10%;
width: 30px;
height:30px;
}

a {
text-decoration: none;
  color: #262626;
  padding: 2vw;
}

li {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

.page-navigation {    
    width: 100vw;
    background-color: #57B681;
    top: 0;
    position: -webkit-sticky; 
    position: sticky;
    z-index: 1;
  }

.page-navigation-items{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 14px 16px;
    margin: 0;
   /* padding: 0;*/
    display: flex;
  }
  a:hover{
    background-color: #F8494F;
  }



  
  
.page {
     padding: 0;
     margin: 0em;
     background-color: #aaa;
 }
.welcomephoto{
    background:  url(photo1.png) no-repeat center /*fixed*/;
    
  /*
    display: block;
    margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    height: 60%;
    background-size: cover;
    
    padding: 10px;
    color: rgb(211, 210, 210);
    text-align: center;
    
  }

  .offer {
    width: 100%;
    height: 100%;
    position: relative;
 
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #aaa;
  }
  .offertext {
    position: relative;
    top: 36%;
    color: #262626
  }
  .videotext {
    position: relative;
    top: 36%;
    color: #57B681
  }
  .contacttext {
    position: relative;
    top: 36%;
    font-size: larger;
    color: rgb(211, 208, 208)
  }
  .heads{
    position: relative;
    top: 35%;
    font-size: 5vh;
    color: #F8494F;
  }
  
  
 .realizacje {
  width: 100%;
  height: 100%;
  position: relative;

  padding: 10px;
  margin: 0;
  text-align: center;
    background-color: #57B681
 }

 .clips {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: 0;
  text-align: center;
  background-color: #262626;
 }
.clipsgallery{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: 0;
  text-align: center;
  background-color: #262626;
}
 .contacts {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #262626;
  background-color: #F8494F
 }
 .heads1 {
  position: relative;
  top: 35%;
  font-size: 5vh;
  color: #262626;
 }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #262626

  }
  .clip{
    border-top: 4px solid #F8494F;
  }

  .clip:hover{
    border: 4px solid #57B681;
  }
  .footer {
    color: #57B681;
  }

  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .page-navigation a {
      float: none;
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .clipsgallery{
      height: 200%;
      width: 100%;

    }
  }
  
  @media only screen and (max-width: 500px) {
    .clip {
      width: 100%;
    }
  }

 

